USE [master]
GO
CREATE DATABASE [Wcf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wcf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Wcf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Wcf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Wcf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wcf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wcf]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NULL,
	[Fecha] [date] NULL,
	[TipoSexo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Fecha], [TipoSexo]) VALUES (1, N'Ed', CAST(N'2022-11-30' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUsuario] @Nombre varchar(75),@Fecha date, @TipoSexo int
AS
Begin try 
BEGIN TRAN
	INSERT INTO Usuario([Nombre], [Fecha], [TipoSexo]) 
	VALUES (@nombre,@Fecha, @TipoSexo)
	COMMIT
END TRY
BEGIN CATCH
	PRINT Error_message()
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteUsuario]
	@IdUsuario int
AS
Begin try 
BEGIN TRAN
	Delete
	From Usuario
	where IdUsuario = @IdUsuario
	COMMIT
END TRY
BEGIN CATCH
	PRINT Error_message()
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getUsuario] 
	@IdUsuario int
AS
Begin try 
BEGIN TRAN
	Select *
	From Usuario
	WHERE (IdUsuario= @IdUsuario)
END TRY
BEGIN CATCH
	PRINT Error_message()
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getUsuarios] 
AS
Begin try 
BEGIN TRAN
	Select *
	From Usuario	
END TRY
BEGIN CATCH
	PRINT Error_message()
END CATCH
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateUsuario] 
	@IdUsuario INT,
	@Nombre varchar(75),
	@Fecha date,
	@TipoSexo int

AS
Begin try 
BEGIN TRAN
	UPDATE Usuario
	SET
		Nombre = @nombre,
		Fecha  = @Fecha,
		TipoSexo = @TipoSexo
		
		WHERE IdUsuario = @IdUsuario
		COMMIT
END TRY
BEGIN CATCH
	PRINT Error_message()
END CATCH
GO
USE [master]
GO
